<!--タイムライン-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
  <h3 class="row mb-4">
    <!--ページ名表示消す-->
    <span class='heading-title'>タイムライン</span>
  </h3>
  <div class="mx-5">
    <%= render 'public/posts/timeline', posts: @posts %>
  </div>
  <!--ページネーション-->
  <div class="d-flex justify-content-center">
    <%= paginate @posts, theme: 'bootstrap-5'  %>
  </div>
</div>
