<!--フォロー一覧-->
<div class="container my-3">
  <h3 class="row mb-4">
    <div class="col-1"></div>
    <!--ページ名表示消す-->
    <span class='heading-title'>フォロー中</span>
  </h3>
  <div class="text-center">
    <%= render 'public/users/index', users: @users %>
  </div>
  <!--ページネーション-->
  <div class="d-flex justify-content-center">
    <%= paginate @users, theme: 'bootstrap-5'  %>
  </div>
</div>