<!--マップ-->
<div class="container my-3">
  <!--フラッシュメッセージ-->
  <div class="mb-3">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
  </div>
  <div id="map"></div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>