<!--アバウトページ-->
<div class="container text-center my-4">
  <h1><strong>用水路安全確認マップについて</strong></h1>
  <div class="row d-flex justify-content-center mt-4">
    <h3>用水路安全マップとは？</h3>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="about-image d-flex justify-content-center align-items-center my-4">
      <h5 class="bg-white p-3 rounde text-center" style="opacity: 80%;">
        用水路安全確認マップは<strong>用水路転落事故の減少</strong>を目的として作成いたしました。<br>
        用水路事故を防止するために危険箇所や安全箇所をユーザー同士で<br>
        情報交換することにご活用ください。
      </h5>
    </div>
  </div>
  <div class="container">
    <h3 class="my-3"><strong>利用方法</strong></h3>
    <p>
      用水路の危険箇所や安全箇所を見つけたら写真と情報を投稿してください。<br>
      投稿すると<strong>「用水路安全マップ」</strong>にピンが表示されるので、他のユーザーが確認することができます。<br>
      他のユーザーと情報交換ができるようにフォローやコメント、ダイレクトメッセージ等をご利用いただけます。
    </p>
  </div>
  <div class="container">
    <h3 class="my-4"><strong><i class="fa-solid fa-users"></i>ゲストログインについて</strong></h3>
      <h4>ユーザー登録を行わなくても以下のサービスを利用できます。</h4>
      <p class="m-3">
        ・用水路安全確認マップなどユーザーの投稿を見ることができます。<br>
        ・投稿に関してコメントができます。<br>
        ・ユーザーのフォローを行うことができます。
      </p>
    </p>
      <h4 class="my-4">ゲストログイン時の注意点</h4>
      <p class="m-3">
        ・新規投稿の利用はできません。<br>
        ・ユーザー情報の編集はできません。<br>
        ・ＤＭ機能を利用することはできません。
      </p>
  </div>
  <div class="container">
    <h3 class="my-3"><strong><i class="fa-solid fa-circle-exclamation"></i>ご利用の注意点</strong></h3>
    <p class="m-3">
      ・こちらのサイトは公的なＳＮＳではございません。<br>
      ・投稿された情報がすべて正しい情報とは限らないため、あくまで参考程度にしてください。<br>
      ・画像を投稿する際は著作権・肖像権にご注意ください。<br>
      ・個人情報取り扱いの観点からも人物像が写っている画像投稿はお控えください。
    </p>
  </div>
</div>
</div>