<div class="row">
  <%= render 'public/users/info', current_user: @current_user %>
  <div class="col-10">    
    <div class="container m-0">
      <h1 class="text-center mb-4">
        <strong>用水路安全確認マップについて</strong>
      </h1>
      
      <div class="text-center my-5">
      <h5>用水路安全マップは用水路転落事故の減少を目的として作成いたしました。</h5>
      <h5>一件でも用水路の危険箇所や安全箇所をユーザー同士で情報交換することにご活用ください。</h5>
      </div>
      
      <!--マップの例を表示させる-->
        
      <h3><strong><i class="fa-solid fa-circle-exclamation"></i>注意点</strong></h3>
      <p>・こちらのサイトは公的なＳＮＳではございません。</p>
      <p>　投稿された情報がすべて正しい情報とは限らないため、あくまで参考程度にしてください。</p>
      <p>・画像を投稿する際は著作権・肖像権に注意してください。</p>
      <p>　人物像が写っている画像投稿はお控えください。</p>
      
    </div>
  </div>
</div>