<div class="container">
  <h1>用水路安全マップについて</h1>

  <p>用水路安全マップは用水路転落事故の減少を目的として作成いたしました。</p>
  <p>一件でも用水路の危険箇所や安全箇所を会員同士で情報交換することにご活用ください。</p>

    
  <h3><strong>注意点</strong></h3>
  <p>こちらのサイトは公的なＳＮＳではございません。</p>
  <p>投稿された情報についてすべて正しい情報とは限らないため、</p>
  <p>あくまで参考程度にしてください。</p>

</div>