<!--アバウトページ-->
<div class="container my-4">
  <div class="row">
    <div class="mx-auto">
      <h1><strong>用水路安全確認マップについて</strong></h1>
    </div>
  </div>
  <div class="text-center my-5">
    <h5>用水路安全確認マップは用水路転落事故の減少を目的として作成いたしました。</h5>
    <h5>用水路事故を防止するために危険箇所や安全箇所をユーザー同士で情報交換することにご活用ください。</h5>
  </div>

  <!--マップの例を表示させる-->
  <div>
    <h3 class="my-3"><strong><i class="fa-solid fa-users"></i>ゲストログイン機能について</strong></h3>
    <p class="m-3">
      <h4>　ユーザー登録を行わなくても以下のサービスを利用できます。</h4>
      <p class="m-3">
        ・用水路安全確認マップなどユーザーの投稿を見ることができます。<br>
        ・投稿に関してコメントができます。
      </p>
    </p>
      <h4 class="my-3">ゲストログイン時の注意点</h4>
      <p class="m-3">
        ・新規投稿の利用はできません。<br>
        ・ユーザー情報の編集はできません。
      </p>
  </div>
  <div>
    <h3 class="my-3"><strong><i class="fa-solid fa-circle-exclamation"></i>注意点</strong></h3>
    <p class="m-3">
      こちらのサイトは公的なＳＮＳではございません。<br>
      投稿された情報がすべて正しい情報とは限らないため、あくまで参考程度にしてください。<br>
      画像を投稿する際は著作権・肖像権にご注意ください。<br>
      個人情報取り扱いの観点からも人物像が写っている画像投稿はお控えください。<br>
    </p>
  </div>

</div>