<div class="right-container d-flex justify-content-end">
  <p id="chat_<%= chat.id %>" style="background-color: #FFC7AF; padding: 5px; border-radius: 10px; ">
    <%= chat.message %>
  </p>
  <%= button_to "削除", chat_path(chat), method: :delete, class: "btn btn-outline-danger btn-sm ml-2", "data-confirm" => "本当に削除しますか？", remote: true, id: "delete_chat_#{chat.id}" %>
</div>