<div class="right-container d-flex justify-content-end align-items-center">
  <p id="chat_<%= chat.id %>" style="background-color: #FFC7AF; padding: 5px; margin: 8px; border-radius: 10px; ">
    <%= chat.message %>
  </p>
  <%= button_to "削除", chat_path(chat), method: :delete, class: "btn btn-outline-danger btn-sm ml-2", "data-confirm" => "本当に削除しますか？", remote: true, id: "delete_chat_#{chat.id}" %>
  <div class="time ml-2">
    <%= l chat.created_at, format: :short %>
  </div>
</div>