<%= form_with model: [post, post_comment], local: false do |f| %>
  <div class="d-flex align-items-center">
    <%= f.text_area :comment, placeholder: "40文字以内で入力してください。", class: "form-control", id: "comment_textarea" %>
    <%= f.submit "送信", class: "btn btn-success ml-5" %>
  </div>
<% end %>