@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//新規投稿ステータスのフォントサイズ
.status-size{
  font-size: 30px;
}

// フラッシュメッセージ
.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 5px 0px;
}

.flash-message.notice {
  background-color: #bbcedb;
  color: #006699;
  border: solid 1px #006699;
}

.flash-message.alert {
  background-color: #f8c4cf;
  color: #cc3366;
  border: solid 1px #cc3366;
}

// マップ
#map{
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

// DMチャットの時間表示
.time{
  font-size: 10px;
}

/*トップページ画像*/
.top-image{
  background-image: url("../images/Top.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  height: 900px;
  width: 100%;
}

/*aboutページ画像*/
.about-image{
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 80%;
}

.nav-item{
  font-size: 20px;
  text-align: center;
}

.hidden-pc{
  display: none;
}

.hidden-px{
  display: none;
}

//レスポンシブ(768px以下)

@media screen and (max-width:768px){
  .top-title{
    text-align: center;
  }

  .hidden-pc{
    display: block;
  }

  .login-method-title{
    text-align: center;
  }

}
