<!--管理者ユーザー一覧ページ-->
<div class="container my-3">
  <h3 class="row mb-4">
    <span class='heading-title'>ユーザー一覧</span>
  </h3>
  <!--登録ユーザーの一覧-->
  <div class="mx-5">
    <%= render "admin/users/index", users: @users %>
  </div>
  <!--ページネーション表示-->
  <div class="d-flex justify-content-center">
    <%= paginate @users, theme: 'bootstrap-5'%>
  </div>
</div>