<div class="user-info col-2 text-center">
  <ul class="navbar-nav">
      <!--トップページボタン-->
      <li class="nav-item">
        <%= link_to root_path do %>
          <h1> <i class="fa-solid fa-desktop" style="color: #7a7a7a;"></i></h1>
          <p>トップページ</p>
        <% end %>
      </li>
      <!--アバウトページボタン-->
      <li class="nav-item">
        <%= link_to about_path do %>
          <h1><i class="fa-solid fa-link" style="color: #7a7a7a;"></i></h1>
          <p>サイトについて</p>
        <% end %>
      </li>
      <!--ログインボタン-->
      <li class="nav-item">
        <%= link_to new_user_session_path do %>
          <h1><i class="fa-solid fa-right-to-bracket" style="color: #7a7a7a;"></i></h1>
          <p>ログイン</p>
        <% end %>
      </li>
      <!--新規登録ボタン-->
      <li class="nav-item">
        <%= link_to new_user_registration_path do %>
          <h1><i class="fa-solid fa-user-plus" style="color: #7a7a7a;"></i></h1>
          <p>新規登録</p>
        <% end %>
      </li>
  </ul>
  
</div>