<!--ユーザ画像・名前・メアド・メッセージを表示-->
<div class="mb-3 text-center">
  <%= image_tag user.get_profile_image(150,150), class: "rounded-circle" %>
</div>
<table class="table">
  <tr>
    <th class="text-center">ユーザーネーム</th>
    <td><%= user.name %></td>
  </tr>
  <!--ログインユーザのみアドレスを表示-->
  <% if user == current_user %>
  <tr>
    <th class="text-center">メールアドレス</th>
    <td><%= user.email %></td>
  </tr>
  <tr>
  <% end %>
    <th class="text-center">
      <i class="fa-solid fa-message"></i>
      メッセージ
    </th>
    <td>
      <!--ユーザのメッセージ-->
      <%= render 'public/users/message', user: user%>
    </td>
  </tr>
</table>