<!--ユーザ画像・名前・メアドを表示-->
<div class="col-6">
  <div class="mb-3 text-center">
    <%= image_tag user.get_profile_image(200,150) %>
  </div>
  <table class="table">
    <tr>
      <th>ユーザネーム</th>
      <td><%= user.name %></td>
    </tr>
    <!--ログインユーザのみアドレスを-->
    <% if user == current_user %>
    <tr>
      <th>メールアドレス</th>
      <td><%= user.email %></td>
    </tr>
    <tr>
    <% end %>
      <th>紹介文</th>
      <td><%= user.introduction %></td>
    </tr>
  </table>
</div>