<!--お気に入り投稿一覧-->
<div class="container my-3">
  <h3 class="row my-4">
    <span class='heading-title'>お気に入り一覧</span>
  </h3>
  <div class="mx-5">
    <%= render "public/posts/timeline", posts: @favorite_posts %>
  </div>
  <!--ページネーション-->
  <div class="d-flex justify-content-center">
    <%= paginate @favorite_posts, theme: 'bootstrap-5'  %>
  </div>
</div>

