<div class="container">
  <h3 class="row my-4">
    <div class="col-2"></div>
    <span class='heading-title'>マイページ</span>
  </h3>
  <%= render 'public/users/show', user: @user %>
  <div class="row">
    <div class="col-1"></div>
    <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-secondary col-3"%>
  </div>
</div>