<div class="container">
  <h3 class="row my-4">
    <div class="col-2"></div>
    <span class='heading-title'>ユーザ登録情報</span>
  </h3>
  <%= render 'public/users/show', user: @user %>
  <!--後で削除すること-->
  <%= @user.is_active %>
</div>