<div class= "footer" style="background-color: midnightblue;">
  <div class="container">
    <div class="row py-3">
      <div class="mx-auto text-light ">
        <p>CopyRight Honoka_Yasuda</p>
      </div>
    </div>
  </div>
</div>