<div class= "footer" style="background-color: #a59ea4;">
  <div class="container">
    <div class="row py-3 justify-content-center">
      <div class="text-light">
        <p>CopyRight Honoka_Yasuda</p>
      </div>
    </div>
  </div>
</div>