<!--フッター-->
<div class= "footer" style="background-color: #a59ea4;">
  <div class="container">
    <div class="row py-4 ">
      <div class="mx-auto d-flex align-items-center ">
        <p class="text-light m-0">CopyRight Honoka_Yasuda</p>
      </div>
    </div>
  </div>
</div>