<nav class="navbar-dark" style="background-color: #a59ea4; ">
  <div class="container py-2">
    <!--リンク先マップへ修正すること-->
    <!--ロゴを記述すること-->
    <a class="navbar-brand pb-3" href="/">
      <span>用水路安全マップ<i class="fa-solid fa-map-location-dot"></i></span>
    </a>
    <!--検索フォーム-->
    <div>
        <%= render "public/searches/form" %>
      </div>

    </div>
  </div>
</nav>